.WebsiteCreator {
    display: flex;
    flex-direction: row;
}

.editor {
    min-width: 80%;
}

.section {
    position: relative;
    min-height: 30px;
    border: 1px dashed #878787;
  }
  
  .section:hover .add-buttons,.section:hover .remove-section  {
    display: block;
  }
  
  .editable-text:hover .remove-element {
    display: inline-block;
  }

  .section:hover{
    border: 1px dashed red;
  }

  .add-buttons, .remove-section,.remove-element {
    display: none;
   
  }
  
  .add-buttons button {
    margin-left: 5px;
  }