form
{
    padding: 15px;
    border: 1px solid rgba(31,8,8,.2);
    position: relative;
    box-sizing: border-box;
}

form h2
{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

form input
{
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form button
{
    margin-bottom: 10px;
    text-align:center;
    padding: 5px 8px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background: #0254A8;  
    cursor: pointer;
    outline: 0;
}
form button:hover
{
    background:#013a75;
}